<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Informations importantes sur votre annonce</h1>
<p>
  Une annonce pour le livre "<%= @book.name %>" (au prix de <%= @book.price %>) a été envoyée à ETSBook.
</p>
<p>
  Veuillez conserver ce e-mail afin de confirmer, modifier ou supprimer votre annonce.
</p>
<p>
  http://localhost:3000/books/<%= @book.id %>/edit?code=<%= @book.validation_code %>
</p>
<p>
  <strong>Note: Il faut que vous confirmiez votre annonce avant qu'elle ne soit affichée!</strong>
</p>
</body>
</html>