<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Informations importantes sur votre annonce</h1>
<p>
  Une annonce pour le livre "<%= @book.name %>" (au prix de <%= @book.price %>) a été envoyée à ETSBook.
</p>
<p>
  Veuillez conserver ce e-mail afin de modifier ou supprimer votre annonce.
</p>
</body>
</html>