<h5 class="center category-title">Catégories</h5>
<div class="categories row col s12 l10 offset-l2">
  <% Program.all.order('acronym').each do |program| %>
      <%= link_to program.acronym, book_path(:search, {:q => program.acronym}), class: 'btn red darken-2 col offset-s1 s4 l1 white-text' %>
  <% end %>
</div>