<h4>Nom du vendeur : <%= @book.contact_name %></h4>
<% if @book.contact_phone %>
    <p><%= @book.contact_phone %></p>
<% end %>
<%= form_for @book, url: {action: 'contact'}, method: 'post', html: {class: 'contact_form col-lg-12'} do |f| %>
    <div class="input-field">
      <label for="name_input">Nom</label>
      <input type="text" id="name_input" class="form-control" name="name" />
    </div>

    <div class="input-field">
      <label for="email_input">Votre courriel</label>
      <input type="text" id="email_input" class="form-control" name="email" />
    </div>

    <div class="input-field">
      <textarea class="materialize-textarea" rows="5" id="message_input" name="message"></textarea>
      <label for="message_input">Message</label>
    </div>

    <button class="btn red darken-2">Envoyer<i class='mdi-content-send right'></i></button>
<% end %>