<%= render 'notice'%>
<%= render 'error' %>

<div class="row">
    <div class="col s12">
      <h4>Livres récents</h4>
      <%= render 'books', books: @books %>
    </div>

    <div class="col s12">
        <%= render 'categories' %>
    </div>
</div>