<%= render 'notice'%>
<%= render 'error' %>

<h2 class="col-lg-12 col-xs-12">Informations sur le livre</h2>
<%= render 'book', book: @book %>

<h2 class="col-lg-12 col-xs-12">Contactez le vendeur</h2>
<%= render 'contact_form', book: @book %>