<h1>Liste des cours</h1>

<table class="table table-striped">
    <thead>
        </tr>
            <th>Sigle</th>
            <th>Nom du cours</th>
        </tr>
    </thead>
<% @courses.each do |course| %>
    <tr>
      <td><%= course.acronym %></td>
      <td><%= course.name %></td>
    </tr>
<% end %>
</table>