
/* For the books/_books.html.erb partial. */
.books .header.row{
    font-weight:bold;
    text-align:center;
}

.books .book{
    padding-top:50px;
    padding-bottom:50px;
    border-bottom:1px solid #CCC;
}

.books .book .photo img{
    display:block;
    margin:auto;
    max-width:100%;
}

.books .book .info{

}
.books .book .info .title{
    font-weight:bold;
    font-size:1.5em;
}

.books .book .state,
.books .book .date,
.books .book .price
{
    text-align:center;
}