.clear {
    clear: both;
}

.title {
    margin-top:0;
}

nav #search {
    margin-bottom:0;
}

.book_link {
    color:black;
}

.add_book_link {
    font-size:1.5rem;
}

/* For the books/_books.html.erb partial. */
.books .header.row{
    font-weight:bold;
    text-align:center;
}

.books .book{
    padding-top:50px;
    padding-bottom:50px;
    border-bottom:1px solid #CCC;
}

.books .book .photo img{
    display:block;
    margin:auto;
    max-width:70%;
}

.books .book .info{

}
.books .book .info .book-title{
    font-weight:bold;
    font-size:1.5em;
}

.books .book .state,
.books .book .date,
.books .book .price
{
    text-align:center;
}


.custom_token_selector {
    background-color: transparent !important;
    border: none !important;
    border-bottom: 1px solid #9e9e9e !important;
    border-radius: 0 !important;
    outline: none !important;
    height: 3rem !important;
    width: 100% !important;
    font-size: 1rem !important;
    margin: 0 0 15px 0 !important;
    padding: 0 !important;
    box-shadow: none !important;
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
}

.token-input-token-facebook {
    border: none !important;
    border-radius: 2px !important;
    display: inline-block !important;
    height: 36px !important;
    line-height: 36px !important;
    outline: 0 !important;
    padding: 0 2rem !important;
    text-transform: uppercase !important;
    vertical-align: middle !important;
    -webkit-tap-highlight-color: transparent !important;

    text-decoration: none !important;
    color: #FFF !important;
    background-color: #E53935 !important;
    text-align: center !important;
    letter-spacing: .5px !important;
    -webkit-transition: .2s ease-out !important;
    -moz-transition: .2s ease-out !important;
    -o-transition: .2s ease-out !important;
    -ms-transition: .2s ease-out !important;
    transition: .2s ease-out !important;
    cursor: pointer !important;
    width:10% !important;
    font-size: inherit !important;
    float:left;
}

.custom_token_selector .token-input-input-token-facebook input {
    background-color: transparent !important;
    transition-duration: 0s;
}

.custom_dropdown ul {
    background-color: #FFFFFF !important;
    margin: 0 !important;
    display: none !important;
    min-width: 100px !important;
    max-height: 650px !important;
    overflow-y: auto !important;
    white-space: nowrap;
    z-index: 1;
    will-change: width, height !important;
}

.custom_token_selector li {
    color: rgba(0,0,0,0.87);
    cursor: pointer;
    line-height: 1.5rem;
    width: 100%;
    text-align: left;
    text-transform: none;
}

.token-input-delete-token-facebook {
    text-align: right;
}

.state_infos {
    padding:20px;
}

.state_infos label {
    border:1px solid black;
    height:100px;
    padding-top:30px;
}

.state_infos label.current {
    background-color:#CCCCCC;
}

.book_infos {
    margin:10px 0;
    padding-bottom:10px;
}

.book_infos .image_container {
    float:left;
}
.book_infos .image_container img {
    width:100%;
}

.book_infos .course {
    display:inline-block;
    float:right;
    text-align: center;
    font-size:14px;
    margin:1px;
}

.book_infos .price {
    font-size: 20px;
    margin-top: 20px;
    text-align: right;
}

.book_infos .informations .stars {
    padding-left:0;
    margin:10px 0;
    text-align: center;
}

.book_infos .informations .stars span {
    padding:0;
    font-size:24px;
}

.contact_form .input-group {
    margin-bottom:10px;
}

.contact_form {
    margin-bottom:10px;
}

.categories li {
    margin-right:10px;
    margin-bottom:10px;
}

.categories a {
    color:white;
}

.state_star {
    cursor: pointer;
    font-size:26px;
}

.category-title {
    margin-left:-9px;
}

.state_label {
    color: #9e9e9e;
    font-size: 1rem;
    cursor: text;
    margin-top:10px;
}