.clear {
    clear: both;
}

.title {
    margin-top:0;
}

nav #search {
    margin-bottom:0;
}

.book_link {
    color:black;
}

.add_book_link {
    font-size:1.5rem;
}

/* For the books/_books.html.erb partial. */
.books .header.row{
    font-weight:bold;
    text-align:center;
}

.books .book{
    padding-top:50px;
    padding-bottom:50px;
    border-bottom:1px solid #CCC;
}

.books .book .photo img{
    display:block;
    margin:auto;
    max-width:70%;
}

.books .book .info{

}
.books .book .info .book-title{
    font-weight:bold;
    font-size:1.5em;
}

.books .book .state,
.books .book .date,
.books .book .price
{
    text-align:center;
}


.custom_token_selector {
    width:100% !important;
    padding: 4px 12px 2px 6px !important;

    border: 1px solid #ccc !important;
    border-radius: 4px !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s !important;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s !important;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s !important;
}

.state_infos {
    padding:20px;
}

.state_infos label {
    border:1px solid black;
    height:100px;
    padding-top:30px;
}

.state_infos label.current {
    background-color:#CCCCCC;
}

.book_infos {
    margin:10px 0;
    padding-bottom:10px;
}

.book_infos .image_container {
    float:left;
}
.book_infos .image_container img {
    width:100%;
}

.book_infos .course {
    display:inline-block;
    float:right;
    text-align: center;
    font-size:14px;
    margin:1px;
}

.book_infos .price {
    font-size: 20px;
    margin-top: 20px;
    text-align: right;
}

.book_infos .informations .stars {
    padding-left:0;
    margin:10px 0;
    text-align: center;
}

.book_infos .informations .stars span {
    padding:0;
    font-size:24px;
}

.contact_form .input-group {
    margin-bottom:10px;
}

.contact_form {
    margin-bottom:10px;
}

.categories li {
    margin-right:10px;
    margin-bottom:10px;
}

.categories a {
    color:white;
}

.state_star {
    cursor: pointer;
    font-size:26px;
}

.category-title {
    margin-left:-9px;
}